torch==2.7.1
transformers==4.53.1
datasets==4.0.0
accelerate==1.8.1
peft==0.16.0
trl==0.19.1

sentencepiece==0.2.0
safetensors==0.5.3
tokenizers==0.21.2

huggingface-hub==0.33.2

numpy==2.3.1
pandas==2.3.0
tqdm==4.67.1

scikit-learn==1.7.0
matplotlib==3.10.3

protobuf==6.31.1